# Aplicación
APP_NAME=Sistema de Gestión Hospitalaria
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:4200

# Oracle para Docker Compose
ORACLE_PASSWORD=Oracle12345
ORACLE_APP_USER=hms_app
ORACLE_APP_PASSWORD=HmsApp12345
ORACLE_SERVICE=FREEPDB1
