APP_NAME=Sistema de Gestión Hospitalaria
APP_VERSION=0.5.0
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:4200

ORACLE_USER=hms_app
ORACLE_PASSWORD=HmsApp12345
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=FREEPDB1

JWT_SECRET_KEY=cambiar-esta-clave-secreta-en-produccion-2026
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin12345
ADMIN_EMAIL=admin@hospital.com
ADMIN_NOMBRES=Administrador
ADMIN_APELLIDOS=General
